* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:rgba(218, 218, 183, 0.4);
  font-size: 1.5em;
  line-height: 1.5;

}

.hero-banner {
  background-image: url("../images/portfolio-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
}

header {
  background-color: rgb(41, 79, 97);
  display: flex;
  align-items: center;
  padding: 30px 10%;
}

h1 {
  color: blueviolet;
}

h1:hover {
  display: flex;
  color: rgba(8, 138, 143, 0.527)
}

.page-wrapper {
  background-color: rgb(168, 164, 172);
  display: grid;
  margin: auto;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 700px 700px 600px;
  justify-content: center;
  gap: 1.5rem;
 

}

.grid-item {
  text-align: left;
  justify-content: space-around;

  
}



#aboutme {
  text-align: right;
  align-self: stretch;
  
}

img {
  background-image: url("/images/image\ Horiseon\ website.png");
  height: auto;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  width: 200px;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}



h2 {
  color: rgb(7, 7, 59);
}

p {
  color: black;
}



nav {
  display: flex;
  justify-self: end;
}

ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 0px 20px;
}






